public net.minecraft.world.entity.item.FallingBlockEntity f_31946_ # blockState

public net.minecraft.client.sounds.SoundManager updateSourceVolume(Lnet/minecraft/client/resources/sounds/SoundInstance;)V

public-f com.mojang.blaze3d.audio.Library f_83690_ # streamingChannels
public com.mojang.blaze3d.audio.Library$CountingChannelPool
public com.mojang.blaze3d.audio.Library$CountingChannelPool <init>(I)V

# Custom pressure plate sounds
protected net.minecraft.world.level.block.BasePressurePlateBlock m_152143_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;I)V # checkPressed